{
  "extends": ["react-app", "react-app/jest", "airbnb", "prettier", "prettier/react", "plugin:compat/recommended", "plugin:security/recommended"],
  "plugins": ["prettier", "compat", "security"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-unresolved": ["off", { "ignore": [".css$"] }],
    "import/prefer-default-export": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "no-console": "off"
  }
}
