.homepage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.sidebar{
  flex: 1;
  background-color: #f4f4f4;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.header-panel .toggle-button {
  background-color: #e93d44;
  border: 1px #ffffff solid;
  color: #ffffff;
}

.header-panel {
  background-color: #e93d44;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 20px;
}

.search-input {
  border-radius: 8px;
  border: 1pt #f77529 solid;
  flex: 1;
  padding: 10px;
}

.control-panel {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.toggle {
  padding: 8px;
}

.header-panel .ui.toggle label {
  color: #ffffff;
}

.sidebar ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.3em;
  padding: 0;
}

.sidebar ul li {
  border-bottom: 1px #ccc solid;
  padding: 14px;
  text-align: center;
}

.toggle-sidebar {
  display: none;
}

.content-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .control-panel {
    display: none;
  }
}