.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}

.Navbar {
  background-color: rgb(13, 13, 71);
  width: 100%;
  height: 80px;
  display: flex;
}

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 10px;
}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.leftSide input {
  width: 200px;
  height: 25px;
  border: none;
  margin-left: 50px;
}
.body {
  text-align: center;
}
